<div class="about-us-page">
    <div class="about-header">
        <img src="https://colineal.com/cdn/shop/articles/tipos-muebles-sala_600x600_crop_center.jpg?v=1623074937"
            alt="Imagen Descriptiva">
        <h1>Nuestra Empresa XYZ</h1>
    </div>

    <p-card header="¿Quiénes somos?">
        <p class="m-0">
            Somos una empresa de comercio al por
            menor de muebles para el hogar,
            especializada en la elaboración de diseños
            únicos y comprometida en el reciclaje de la
            materia prima.
            AA es una marca que comenzó hace tres
            años como un hoobie y con el tiempo tuvimos
            un crecimiento en redes sociales y en
            nuestras ventas.
        </p>
    </p-card>

    <div class="mission-section">
        <p-fieldset legend="Misión">
            <p class="m-0">
                En AA nos dedicamos a fusionar la sostenibilidad, la creatividad y la
                funcionalidad en el diseno de muebles reciclables únicos y artisticos.
                Nuestra misión es transformar el concepto de mobiliario al ofrecer piezas
                exclusivas que reflejen la belleza del arte y la responsabilidad ambiental.
            </p>
        </p-fieldset>
    </div>
    <div class="vision-section">
        <p-fieldset legend="Visión">
            <p class="m-0">
                Nuestra visión es ser reconocidos y ser referencia en mobiliario reciclable y
                diseno artistico, tanto a nivel local como global, continuar innovando en
                técnicas y materiales para ofrecer piezas únicas que desafien los limites
                de la creatividad y la sostenibilidad
            </p>
        </p-fieldset>
    </div>
    <div class="values-section">
        <p-fieldset legend="Valores">
            <ul>
                <li>
                    <p class="m-0">
                        Sostenibilidad
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        Calidad
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        Creatividad
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        Responsabilidad social
                    </p>
                </li>
            </ul>

        </p-fieldset>
    </div>
</div>