<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>{{isAdmin?'Iniciar sesion':'Registrate'}}</h3>

  <label for="email">Correo</label>
  <input id="email" type="text" formControlName="email" (onChange)="validateAdmin()" pInputText>

  <div *ngIf="isAdmin">
    <label for="password">Password</label>
    <input  type="password" formControlName="password" pPassword [feedback]="false" >
  </div>

  <button>{{isAdmin?'Iniciar sesion':'Registrate'}}</button>
  <!-- <div class="social">
    <div class="go"><i class="fab fa-google"></i> Google</div>
    <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
  </div> -->
</form>