  <p-galleria [value]="images" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true" style="display: flex; justify-content: center;" *ngIf="isSmall"
    [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
    </ng-template>
  </p-galleria>


<div *ngIf="!isSmall" style="display: flex; justify-content: center; padding-top:10%;padding-bottom:10%">
  <ul>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0470.jpg?alt=media&token=0757f9d8-1937-40be-8cfa-f29efeddee23&_gl=1*13ebjst*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjI3MC42MC4wLjA.'
            alt='img 1'>
          <figcaption>Muebles de segunda mano</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0487.jpg?alt=media&token=ae760e56-5b3c-451c-8959-0fb3ff0175a7&_gl=1*1iix6pj*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjMxOS4xMS4wLjA.'
            alt='img 2'>
          <figcaption>Muebles reconstruidos</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0503.jpg?alt=media&token=449bca09-4924-48fd-9f74-d25e11b0f09e&_gl=1*ue713c*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjM2OC42MC4wLjA.'
            alt='img 3'>
          <figcaption>Muebles para casa</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0522.jpg?alt=media&token=6d377143-42b4-40d2-8f0c-4a7d726c215b&_gl=1*q28nxl*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjQzNi42MC4wLjA.'
            alt='img 4'>
          <figcaption>Muebles reciclados</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0514.jpg?alt=media&token=ddcc952e-3518-4805-a0f7-7239b5aac022&_gl=1*1oy8zxp*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjM5MC4zOC4wLjA.'
            alt='img 5'>
          <figcaption>Muebles upcycling</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="">
        <figure>
          <img
            src='https://firebasestorage.googleapis.com/v0/b/proyectomuebles-7993d.appspot.com/o/imagenes%2FR69_0553.jpg?alt=media&token=90c20c35-ee3a-4511-92ed-73c2818999cf&_gl=1*10pazu9*_ga*MzMwMjIwMzU1LjE2OTg1MTMzNTE.*_ga_CW55HF8NVT*MTY5ODk3MDA0NC40LjEuMTY5ODk3MjQ1NS40MS4wLjA.'
            alt='img 6'>
          <figcaption>Muebles únicos</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</div>